{% extends "skel.html" %}
{% block container %}
<h3>Change Password</h3>
<hr>
<form method="post">
    <div class="form-group">
        <label>New password:</label>
        <input type="password" class="form-control" required autofocus name="passwd">
    </div>
    <div class="form-group">
        <label>Confirm new password:</label>
        <input type="password" class="form-control" required name="cpasswd">
    </div>
    <p><small class="text-muted">Please re-check your password. Once changed, you will be logged out.</small></p>
    <button class="btn btn-dark" type="submit">Submit</button>
</form>
{% endblock %}